<nav class="navBar" id="myNavBar">

    <a class="active" href="{{ path('index')}}">
        <img class="logoDoulaHarmonie" src="{{ asset('assets/img/logoDoulaHarmonie3.png') }}" alt="logo DoulaHarmonie">
    </a>
    <a href="{{ path('index')}}">Accueil</a>
    <a href="{{ path('articles')}}">Articles</a>
    <a href="{{ path('news') }}">Actualités</a>
    <a href="">Services</a>
    <a href="{{ path('fos_user_registration_register') }}">Contact / Log in</a>
    <a href="{{ path('fos_user_security_logout') }}">Log out</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>

</nav>
